body {
  background-color: #191919;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  font-size: 20px;
}

button {
  background-color: #fff;
  color: #262626;
  cursor: pointer;
  padding: 5px 10px;
  margin: 15px;
  outline: none;
}
button:hover {
  background-color: #262626;
  color: white;
}


.clock-container {
  width: 250px;
  border: 2px solid #fff;
  border-radius: 20%;
  padding: 20px;
  text-align: center;
  background-color: #262626;
  margin: 0 auto;
}
.timer-container {
  margin: -100px 40px 40px;
  
}


.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  
 }

.clock-container span {
  font-size: 50px;
}

@media only screen and (max-width: 600px) {
  .main-container {
    width: 100vw;
  }
  .clock-container {
    width: 200px;
    margin: 0 auto;
  }

  .timer-container {
    margin: px 10px;
    flex: 1;
  }
}
